div.my-footer {
    background-color: #5542FF;
    position: absolute;
    bottom: 0px;
    left: 0px;
    height: 30px;
    width: 100%;
}
div.my-footer span {
    font-size: 14pt;
    color: white;
    position: absolute;
    left: 15px;
    bottom: 6px;
}